{% extends 'base.html' %}

{% block content %}
<main class="messagePage my-xl">
    <div class="content-box">
        <div class="message">
            <a class="backButton" href="{% url 'inbox' %}"><i class="im im-angle-left"></i></a>
            <h2 class="message__subject">{{ message.subject }}</h2>
            {% if message.sender %}
            <a href="{% url 'profile' pk=message.sender.id %}" class="message__author">
                {{ message.sender.fullname }}
            </a>
            {% else %}
            <i><b>{% if not message.fullname %} Anonymous user {% else %} {{ message.fullname }} {% endif %}</b></i>
            {% endif %}
            <p class="message__date">{{ message.created|date:"M j, Y, H:i" }}</p>
            <div class="message__body">
                {{ message.body|linebreaksbr }}
            </div>
        </div>
    </div>
</main>
{% endblock content %}