{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="auth" style="padding-top: 25em;">
        <div class="card">
            <div class="auth__header text-center">
                <a href="/">
                    <img src="{% static 'images/icon.svg' %}" alt="icon"/>
                </a>
                <h3>Account Registration</h3>

            </div>

            <form action="" class="form auth__form" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form__field">
                        <label for="formInput#text">{{ field.label }}: </label>
                        {{ field }}
                    </div>
                {% endfor %}

                <div class="auth__actions">
                    <input class="btn btn--sub btn--lg" type="submit" value="Sign up"/>
                </div>
                <div class="auth__alternative">
                    <p>Already have an Account?</p>
                    <a href="{% url 'login' %}">Login</a>
                </div>
            </form>

        </div>
    </div>

{% endblock content %}